<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PivotalTFSSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="prearrangedChaos">
      <section name="zenRestConfiguration"
               type="PrearrangedChaos.AgileZen.Service.Rest.Configuration, PrearrangedChaos.AgileZen.Service"/>
    </sectionGroup>
    
  </configSections>

  <prearrangedChaos>
    <zenRestConfiguration
      baseAddress="https://agilezen.com/api/v1/"
      defaultApiKey="595c7575aa60450aa24e67002db13311"
      defaultPageSize="100" />
  </prearrangedChaos>
  
  <userSettings>
    <PivotalTFSSync.Properties.Settings>
      <setting name="Pivotal_Username" serializeAs="String">
        <value/>
      </setting>
      <setting name="Pivotal_Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="TFS_Url" serializeAs="String">
        <value/>
      </setting>
      <setting name="TFS_Domain" serializeAs="String">
        <value/>
      </setting>
      <setting name="TFS_Username" serializeAs="String">
        <value/>
      </setting>
      <setting name="TFS_Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="Pivotal_Project" serializeAs="String">
        <value/>
      </setting>
      <setting name="TFS_Project" serializeAs="String">
        <value/>
      </setting>
      <setting name="TFS_Iteration" serializeAs="String">
        <value/>
      </setting>
      <setting name="Pivotal_Iteration" serializeAs="String">
        <value/>
      </setting>
      <setting name="TFS_IterationSubPath" serializeAs="String">
        <value/>
      </setting>
    </PivotalTFSSync.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
